@model List<ResultUserDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kullanıcılar</h3>

@{
	int count = 0;
}
<table class="table table-bordered table-hover">
	<tr>
		<th>#</th>
		<th>Adı Soyad</th>
		<th>Kullanıcı Adı</th>
		<th>Email</th>
		<th>Roller</th>
		<th>işlemler</th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<td>@count</td>
			<td>@item.FullName</td>
			<td>@item.UserName</td>
			<td>@item.Email</td>
			<td>
				@foreach(var role in item.Roles)
				{
					<span class="badge badge-info">@role</span>
				}
			</td>
			<td>
				<a href="/Admin/Users/AssignRole/@item.Id" class="btn btn-primary btn-sm">Rol ata</a>
			</td>
		</tr>
	}
</table>
